---
import { type TeamStanding } from '@/data/Standings';

import Logo from '@/components/Team/Logo.astro';
import TeamName from '@/components/TeamName.astro';
import TeamSchedule from '@/components/TeamSchedule.astro';
import Stats from '@/components/Team/Stats.astro';

type Props = {
    team: TeamStanding;
}

const { team } = Astro.props;
const bgClass = team.isInWildcard ? 'bg-slate-200 dark:bg-gray-900' : 'bg-white dark:bg-zinc-900'
const cardClass = `${bgClass} px-3 md:px-6`;

const stats = [
    {
        label: 'Total Points',
        stat: team.points,
    },
    {
        // label: `Points ${team.isInWildcard ? 'Back' : 'Ahead'}`,
        label: 'Points Back',
        stat: team.pointsBack,
    },
    {
        label: 'Games Remaining',
        stat: team.gamesRemaining,
    },
    {
        label: 'Regulation Wins',
        stat: team.regulationWins,
    },
    // {
    //     label: 'Potential Points',
    //     stat: team.gamesRemaining * 2,
    // }
];
---

<div class:list={[
    'py-6 w-full sticky left-0',
    cardClass
]}>

    <div class="flex items-center space-x-2 justify-between">

        <div class="flex items-center">
            <Logo teamCode={team.teamCode} />
            <TeamName teamCode={team.teamCode} />
        </div>

        <Stats data={stats} />

    </div>

</div>

<div class:list={[
    'pb-6 w-[fit-content] mb-4',
    cardClass
]}>
    <TeamSchedule
        teamCode={team.teamCode}
        points={team.points}
    />
</div>
