---
import Layout from '@/layouts/Layout.astro';
import TeamHeader from '@/components/TeamHeader.astro';
import TeamSchedule from '@/components/TeamSchedule.astro';
import Link from '@/components/Link.astro';

import { getWildcardTeams } from '@/data/Standings.ts';

import { type ConferenceAbbrev } from '@/data/nhl';

const wildcardTeams = await getWildcardTeams();

const confs = {
	E: 'East',
	W: 'West',
} as const;

const confLabel = (code: keyof typeof confs) => confs[code];
---

<script>
(() => {

	const tabs = document.querySelectorAll('a[role="tab"]');

	tabs.forEach(tab => {

		tab.addEventListener('click', () => {

			document
				.querySelectorAll('a[role="tab"].tab-active')
				.forEach(el => el.classList.remove('tab-active'));

			tab.classList.add('tab-active');

			document
				.querySelectorAll('.tab-panel')
				.forEach(el => el.classList.add('hidden'));

			document
				.querySelector(tab.dataset.tab)
				.classList.remove('hidden');

		});
	});

	const defaultHash = window.location.hash !== '' ? window.location.hash : '#east';
	console.log('defaultHash', defaultHash, window.location.hash);
	(document.querySelector(`a.tab[href="${defaultHash}"]`) as HTMLElement)?.click();

})();
</script>

<Layout>

	<h1 class="text-3xl">
		NHL Wildcard Races
	</h1>

	<div role="tablist" class="tabs tabs-xl tabs-lift my-4 lg:my-8">

		{Object.keys(wildcardTeams).map((confCode) => {

			const label = confLabel(confCode as ConferenceAbbrev);

			return (
				<a
					role="tab"
					class="tab grow"
					href={`#${label.toLowerCase()}`}
					data-tab={`#tab-${label.toLowerCase()}`}>
					{label}
				</a>
			);

		})}

	</div>

	<div class="w-full overflow-x-auto">

		{Object.entries(wildcardTeams).map(([confCode, teams]) => {

			return (

				<div
					class="tab-panel"
					id={`tab-${confLabel(confCode as ConferenceAbbrev).toLowerCase()}`}>
					{teams.map((team) => {
						return (

							<div class="w-[fit-content] rounded-lg bg-white dark:bg-zinc-900 border-1 dark:border-zinc-800 border-slate-100 p-6 shadow mb-4">

								<TeamHeader
									teamCode={team.teamCode}
									points={team.points}
								/>

								<TeamSchedule
									teamCode={team.teamCode}
									points={team.points}
								/>

							</div>
						);
					})}
				</div>
			);

		})}

	</div>

	<div class="my-12 text-center">

		<p class="mb-6">
			Built by <Link href="https://johnzanussi.com/">John Zanussi</Link> with <Link href="https://astro.build/">Astro</Link> and <Link href="https://tailwindcss.com/">Tailwind</Link>.
		</p>

		<p class="mb-6">
			Inspired by <Link href="https://www.reddit.com/r/hockey/comments/1jn7rlh/wildcard_races_mar_29/">u/Sarke1</Link>.
		</p>

		<p>View the code on <Link href="https://github.com/johnzanussi/nhl-wildcard-races">GitHub</Link>.</p>

	</div>

</Layout>
