---
import Logo from '@/components/Team/Logo.astro';
import { formatDate } from '@/lib/date';
import type { Game } from '@/data/Teams';

type Props = {
    game: Game;
    size?: number;
};

const {
    game,
    size = 40,
} = Astro.props;

const playedGame = game.isComplete ? game : null;
---
<div class:list={[
    'text-center',
    {
        'result-unplayed': !playedGame,
        'result-played': !!playedGame,
    }
]}>

    <div class="text-[0.6rem] font-medium h-4">
        {playedGame?.score ?? ``}
    </div>

    <div
        data-tooltip={formatDate(game.date)}
        class:list={[
            'rounded relative size-(--size) text-center flex items-center z-1',
            {
                'bg-green-600': playedGame?.result === 'win',
                'bg-red-800': playedGame?.result === 'loss' && playedGame?.gameEnd === 'REG',
                'bg-yellow-600': playedGame?.result === 'loss' && playedGame?.gameEnd !== 'REG',
                'bg-zinc-400': !playedGame,
            }
        ]}
        style={`--size: ${size}px`}
    >
        <div class="opacity-75 text-center w-full">
            <Logo
                teamCode={game.opponent}
                size={size}
            />
        </div>
    </div>

    {playedGame && playedGame.totalPoints >= 0 && (
        <div class="text-[0.6rem] font-medium">
            {playedGame.totalPoints}
        </div>
    )}

</div>
